/**
 * BASED ON:
 *  - Lama Dev's React Node.js MySQL Full Stack Blog App Tutorial
 *        https://youtu.be/0aPLk2e2Z3g?si=2YauU5U6pDdNQLMi
 *        https://github.com/safak/youtube2022/tree/blog-app
 */
$base_colour : darkred;
$accent_colour : crimson;
$neutral_dark : darkslategrey;
$neutral_light : lightgrey;
$lightest : white;
$padding_standard : 10px;


//--------------------------------------------------------------------------
// NAVBAR
//--------------------------------------------------------------------------
nav {
  background-color: $neutral_dark;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-brand {
    padding: $padding_standard;
    height: 100%;
    .logo {
      height: 100%;
    }
  }

  .nav-items {
    display: flex;
    align-items: center;

    .nav-item {
      font-size: large;
      font-weight: bold;
      color: $accent_colour;

      padding: $padding_standard;
      display: flex;
      align-items: center;
    }
  }

  .nav-account {
    padding: $padding_standard;
    display: flex;
    align-items: center;
    color : $neutral_light;

    .nav-link {
      color: $lightest;
    }
  }
}


form {
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: $accent_colour;
    font-weight: bold;
  }

  button {
    width: max-content;
    margin: $padding_standard;
    padding: 5px 10px;
    border: none;
    color: $lightest;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
  .btn-delete {
    background-color: crimson;
  }
  .btn-submit {
    background-color: green;
  }
  .btn-neutral {
    color: $base_colour;
    background-color: $neutral_light;
  }

  label {
    font-weight: bold;
    color: $base_colour;
    margin: $padding_standard
  }
  .label-group {
    width: 400px;
    display: flex;
    align-content: center;
    justify-content:space-between;

    .label-contents {
      display: flex;
      margin: $padding_standard
    }
  }

  input{
    width: 100%;
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid $base_colour;
  }
  .input-row {
    margin: $padding_standard;
    display: flex;
  }

  .err-msg {
    color: crimson;
  }
}

//--------------------------------------------------------------------------

// all below is from lamadev tutorial (or based on it)


.app{
  display: flex;
  justify-content: center;

  font-family:Verdana, Geneva, Tahoma, sans-serif;  // standard on firefox is serif

  // we are tagging React Router links with the link class
  .link{
    text-decoration: none;
    color: inherit;
  }
  // this is for standard HTML links
  a{
    color: $accent_colour;
  }


  .container{
    width: 100%;

    //--------------------------------------------------------------------------
    // LOGIN & REGISTER
    //--------------------------------------------------------------------------
    .auth{
      display: flex;
      flex-direction: column; // have it centred vertically rather than horizontally
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $base_colour;

      h1{
        font-size: 20px;
        color: white;
        margin-bottom: 20px;
      }

      form{
        display: flex;
        flex-direction: column;
        padding: 20px;
        width:200px;
        background-color: white;
        gap: 20px;

        input{
          padding: 10px;
          border: none;
          border-bottom: 2px solid $base_colour;
          background-color: white;
        }

        button{
          padding: 10px;
          border: none;
          background-color: $accent_colour;
          color: white;
          cursor: pointer;
        }

        p{
          font-size: 16px;
          color: red;
          text-align: center;
        }

        span{
          font-size: 12px;
          text-align: center;
        }
      }
    }

    //--------------------------------------------------------------------------
    // FOOTER
    //--------------------------------------------------------------------------
    footer{
      margin-top: 100px;
      padding: 20px;
      gap: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      color: white;
      background-color: $base_colour;

      font-size: 12px;

      img{
        width: 30px;
        height: 30px;
      }
    }

    //--------------------------------------------------------------------------
    // HOME
    //--------------------------------------------------------------------------
    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 100px;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }

          .img {
            flex: 2;
            position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: $accent_colour;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }

            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
            }
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
              font-size: 48px;
            }

            p {
              font-size: 18px;
            }

            button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: white;
              border: 1px solid $base_colour;
              color: $base_colour;

              &:hover {
                border: 1px solid white;
                background-color: $accent_colour;
                color: black;
              }
            }
          }
        }
      }
    }

    //--------------------------------------------------------------------------
    // SINGLE
    //--------------------------------------------------------------------------
    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }
        }

        .edit {
          display: flex;
          gap: 5px;

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
          color: #333;
        }

        p {
          text-align: justify;
          line-height: 30px;
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          color: #555;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          h2 {
            color: #555;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: $base_colour;
            background-color: white;
            border: 1px solid $base_colour;

            &:hover {
              border: 1px solid white;
              background-color: $accent_colour;
              color: black;
            }
          }
        }
      }
    }

    //--------------------------------------------------------------------------
    // WRITE
    //--------------------------------------------------------------------------
    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }

        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex:1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1{
            font-size: 20px;
          }

          .file{
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons{
            display: flex;
            justify-content: space-between;

            :first-child{
              cursor: pointer;
              color: $base_colour;
              background-color: white;
              border: 1px solid $base_colour;
              padding: 3px 5px;
            }
            :last-child{
              cursor: pointer;
              color: white;
              background-color: $base_colour;
              border: 1px solid $base_colour;
              padding: 3px 5px;
            }
          }

          .cat{
            display: flex;
            align-items: center;
            gap: 2px;
            color: $base_colour;
          }
        }
      }
    }
  }
}